@use 'admin.scss';

html{
    font-size: 4mm;
    background-color: #f0f0f0;

    h5 {
        font-size: 1.1rem;
    }
    
    h4 {
        font-size: 1.2rem;
    }
    
    h3 {
        font-size: 1.3rem;
    }
    
    h2 {
        font-size: 1.4rem;
    }
    
    h1 {
        font-size: 1.5rem;
    }
}

div.main {
    background-color: #f0f0f0;
}

.requested {
    box-shadow: 0 0 2rem 1rem lightgreen;
}

.failed {
    box-shadow: 0 0 1rem 0.5rem lightcoral;
}
