@use 'admin.scss';

html{
    font-size: 4mm;
    background-color: #f0f0f0;

    h5 {
        font-size: 1.1rem;
    }
    
    h4 {
        font-size: 1.2rem;
    }
    
    h3 {
        font-size: 1.3rem;
    }
    
    h2 {
        font-size: 1.4rem;
    }
    
    h1 {
        font-size: 1.5rem;
    }
}

div.main {
    background-color: #f0f0f0;
}

.requested {
    box-shadow: 0 0 2rem 1rem lightgreen;
}

.failed {
    box-shadow: 0 0 1rem 0.5rem lightcoral;
}

dialog.normal {
    border: thin solid green;
    border-radius: 1rem;
    outline: none;
    padding: 1rem;
    h1 {
        text-align: center;
    }
    table{
        td:has(label){
            text-align: right;
        }
        * {
            margin: 0.2rem;
        }
        input{
            min-width: 20rem;
        }
        td:has(button){
            text-align: center;
            button {
                padding: 0.2rem;
                border-radius: 0.2rem;
                margin-left: 3rem;
                margin-right: 3rem;
            }
        }
    }
}

div#topbox {
    position: sticky;
    top: 3px;
    margin: 0.2rem;
    padding: 0.2rem;
    display: flex;
    justify-content: space-between;

    span {
        border: thin solid lightgreen;
        background-color: white;
        margin: 0.2rem;
        padding: 0.3rem;
        border-radius: 0.3rem;
        cursor: pointer;

        &:hover {
            box-shadow: 0 0 0.2rem 0.1rem #a0a0a0;
        }
    }
}

div.boxed {
    display: flex;
    flex-wrap: wrap;
    gap: 0.2rem;

    div {
        border: thin solid red;
        border-radius: 0.5rem;
        margin: 0.2rem;
        padding: 0.5rem;
        min-width: 8rem;
        min-height: 1.5rem;
        background-color: blanchedalmond;
    }
}

div.table {
    $border: thin solid #d0d0d0;
    // border: $border;
    border-radius: 0.5rem;
    display: table;
    margin: 1rem;
    padding: 0.5rem;
    .right {
        text-align: right;
    }
    .row {
        display: table-row;
        // margin: 0.7rem;
        // padding: 0.3rem;
        // input {
        //     outline: none;
        //     // border: none;
        // }
        > * {
            // margin: 0.5rem;
            padding: 0.3rem;
            display: table-cell;
            border: $border;
        }
        .wide {
            min-width: 20rem;
        }
        span:has(input[type="button"]){
            text-align: right;
        }
        input[type="button"]{
            border-radius: 0.3rem;
            padding: 0.3rem;
        }
        select {
            width: 100%;
        }
        span[name="delete"]{
            color: red;
            font-size: smaller;
            text-align: center;
            vertical-align: middle;
            cursor: crosshair;
        }
    }
}

table {
    border: thin solid #d0d0d0;
    border-collapse: collapse;
    .right{
        text-align: right;
    }
    th,td {
        border: thin solid #a0a0a0;
        border-collapse: collapse;
        padding: 0.5rem;
    }
}

div#hierarchy {
    padding: 1rem;
    width: max-content;
    div {
        margin-left: 0.5rem;
        border: thin solid #a0a0a0;
        border-radius: 0.3rem;
        margin-top: 0.2rem;
        padding: 0.5rem;
    }
}

[data-tooltip]:hover::after {
    display: block;
    position: absolute;
    content: attr(data-tooltip);
    border: 1px solid #e0e0e0;
    border-radius: 0.3rem;
    background: #fff;
    padding: .5rem;
    translate: -50% -180%;
  }

button.hidden{
    display: none;
}  